# 1. 데이터 파일 절대 금지
notebooks/
output/
data/
data_old/
*.parquet
*.csv
kmeans_outputs/

# 주식 종목 stock_list는 필수
!list/stock_list.csv

# 2. 결과물 및 로그 금지 (내 컴퓨터에서만 확인)
gmm_results/
output/
log/
logs/
*.log

# 3. 임시 테스트 파일 금지
test_run.py
test_my_gmm.py
merged_stock_data.py
show_hf_columns.py

# 4. 파이썬 캐시 파일 (이건 기본 매너)
__pycache__/
*.pyc
*.pyo
*.pyd

# 5. 시스템 파일 (맥/윈도우 찌꺼기)
.DS_Store
Thumbs.db