numpy>=1.23,<1.27
scikit-learn>=1.2,<1.4
pandas>=2.0,<2.2
pyarrow>=12.0
tqdm>=4.65
joblib>=1.2
scipy>=1.10.0
matplotlib>=3.7.0
seaborn>=0.12.0
requests>=2.0.0
plotly>=5.0.0
umap-learn>=0.5.0
kaleido>=0.2.1
datasets>=2.19.1
huggingface_hub>=0.24.2
finance-datareader
yfinance
mplfinance
adjustText
openpyxl
calamine>=0.6.0